[package]
name = "cosmic-notifications"
version = "0.1.0"
authors = ["Ashley Wulber <ashley@system76.com>"]
edition = "2021"

[dependencies]
anyhow = "1.0"
async-stream = "0.3.5"
console-subscriber = "0.1.9"
i18n-embed = { version = "0.13.4", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.6.4"
libcosmic = { git = "https://github.com/pop-os/libcosmic/", default-features = false, features = ["wayland", "tokio"] }
# libcosmic = { path = "../libcosmic", default-features = false, features = ["wayland", "tokio"] }
tracing = "0.1"
nix = "0.26.2"
once_cell = "1.17"
tracing-subscriber = "0.3.17"
rust-embed = "6.3.0"
serde = { version = "1.0.152", features = ["derive"] }
ron = "0.8"
shlex = "1.1.0"
tokio = { version = "1.24.1", features = ["sync", "rt", "tracing", "macros", "net", "io-util"] }
xdg = "2.4.1"
zbus = "3.13.1"
cosmic-notifications-util = { path = "./cosmic-notifications-util" }
sendfd = "0.4"

[workspace]
members = ["cosmic-notifications-util"]
