[package]
name = "cosmic-notifications"
version = "0.1.0"
authors = ["Ashley Wulber <ashley@system76.com>"]
edition = "2021"

[dependencies]
libcosmic = { git = "https://github.com/pop-os/libcosmic", default-features = false, features = [
    "autosize",
    "a11y",
    "winit",
    "multi-window",
    "wayland",
    "tokio",
    "dbus-config",
] }
anyhow = "1.0"
async-stream = "0.3.5"
console-subscriber = "0.2.0"
i18n-embed = { version = "0.14.1", features = [
    "fluent-system",
    "desktop-requester",
] }
i18n-embed-fl = "0.8.0"
cosmic-time = { git = "https://github.com/pop-os/cosmic-time", default-features = false, features = [
    "once_cell",
] }
tracing = "0.1"
nix = "0.26.2"
once_cell = "1.17"
tracing-subscriber = "0.3.17"
tracing-journald = { version = "0.3.0", optional = true }
rust-embed = "8.4.0"
serde = { version = "1.0.152", features = ["derive"] }
ron = "0.8"
tokio = { version = "1.24.1", features = [
    "sync",
    "rt",
    "tracing",
    "macros",
    "net",
    "io-util",
] }
xdg = "2.4.1"
zbus = { version = "4.2.1", features = ["tokio", "p2p"] }
cosmic-notifications-util = { path = "./cosmic-notifications-util" }
cosmic-notifications-config = { path = "./cosmic-notifications-config" }
cosmic-panel-config = { git = "https://github.com/pop-os/cosmic-panel" }
sendfd = { version = "0.4", features = ["tokio"] }
bytemuck = "1.13.1"
log-panics = { version = "2", features = ["with-backtrace"] }

# remove after cosmic-panel is updated to use zbus v4
[patch."https://github.com/pop-os/libcosmic"]
libcosmic = { git = "https://github.com/pop-os/libcosmic//", branch = "fix-dbus-subscription-id" }
cosmic-config = { git = "https://github.com/pop-os/libcosmic//", branch = "fix-dbus-subscription-id" }

[features]
systemd = ["dep:tracing-journald"]
default = ["systemd"]

[workspace]
members = ["cosmic-notifications-util", "cosmic-notifications-config"]

[patch.'https://github.com/smithay/client-toolkit/']
smithay-client-toolkit = { version = "0.19.2" }
# smithay-client-toolkit = { git = "https://github.com/smithay/client-toolkit//", rev = "3bed072" }
# cosmic-config = { git = "https://github.com/pop-os/libcosmic//" }
