[Desktop Entry]
Name=COSMIC Notifications
Name[pt]=Notificações
Name[hu]=COSMIC Értesítések
Comment=COSMIC Notifications
Comment[pt]=Notificações do COSMIC
Comment[hu]=COSMIC Értesítések
Type=Application
Exec=cosmic-notifications
Terminal=false
Categories=GNOME;GTK;
Keywords=Gnome;GTK;
Icon=com.system76.CosmicNotifications
StartupNotify=true
NoDisplay=true
X-HostWaylandDisplay=true
